.importancia{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.importancia-section{
    display: flex;
    justify-content: center;
}

.importancia-enfeite{
    transform: rotate(180deg);
}

.importancia-textos-titulo{
    font-size: var(--tamanho-fonte-titulo);
    font-family: var(--fonte-secundario);
    font-weight: 700;

}

.importancia-textos-texto{
    font-size: var(--tamanho-fonte);
    font-family: var(--fonte-principal);
    margin: 2rem;
}

